useDynLib(relectro, 
          autocorrelation_cwrap, 
          meanFiringRate_cwrap,
          resIndexForIntervals_cwrap,
          crosscorrelation_cwrap,
          crosscorrelationEvents_cwrap)

exportPattern("^[[:alpha:]]+")

