useDynLib(relectro, autocorrelation_cwrap, meanFiringRate_cwrap,resIndexForIntervals_cwrap)
exportPattern("^[[:alpha:]]+")
exportMethods(
    "loadSpikeTrain",
    "setSpikeTrain",
    "show",
    "spikeTimeAutocorrelation",
    "meanFiringRate"
)
exportClasses(
    "SpikeTrain" 
)
