useDynLib(relectro)
exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "axis", "close.screen", "image", "lines",
             "mtext", "par", "plot", "points", "screen", "split.screen",
             "title")
importFrom("methods", "new")
importFrom("stats", "complete.cases", "cor", "cov", "lm",
             "mahalanobis", "median", "pnorm", "prcomp", "predict",
             "quantile", "rnorm", "rpois", "runif", "sd","ccf")
importFrom("utils", "tail", "combn", "head", "read.table", "tar",
             "write.table")
importFrom("plyr", "aaply")
